@use '@angular/material' as mat;

@include mat.core();

$md-portfolio: (
    50 : #f2f4f6,
    100 : #dfe3ea,
    200 : #cad1dc,
    300 : #b4bfcd,
    400 : #a4b1c3,
    500 : #94a3b8,
    600 : #8c9bb1,
    700 : #8191a8,
    800 : #7788a0,
    900 : #657791,
    A100 : #ffffff,
    A200 : #d2e4ff,
    A400 : #9fc6ff,
    A700 : #85b7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-typography: mat.define-typography-config(
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
);

$angular-primary: mat.define-palette($md-portfolio, 500, 100, 900);
$angular-accent: mat.define-palette($md-portfolio, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);


$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}


@include mat.all-component-colors($angular-dark-theme);

// Include the theme mixins for other components you use here.

@include mat.core();


@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
  color-scheme: dark;
}


h1{
  font-family: 'Fira Code', monospace;
  color: #94a3b8;
}

body {
  background: #dfdfdf !important;
  color: rgb(126, 126, 126) !important;
  height: 100vh;
  overflow: hidden;
}

// .bg {
//   position: fixed;
//   top: -50%;
//   left: -50%;
//   right: -50%;
//   bottom: -50%;
//   width: 200%;
//   height: 200vh;
//   background: transparent url('assets/noise-transparent.png') repeat 0 0;
//   background-repeat: repeat;
//   animation: bg-animation 1s infinite;
//   opacity: .5;
//   visibility: visible;
// }

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.mat-drawer-container, .mdc-list-item__primary-text {
  color: rgb(114, 114, 114) !important;
  font-weight: 500 !important;
}

button{
  color: rgb(163 163 163) !important;
  font-size: 1.05rem !important;
  font-weight: 700;
}

.mat-divider {
  border-top-color: rgb(87 87 87 / 12%) !important;
}

.mat-primary {
    	color: rgb(229 229 229) !important;
        margin-right: 1em !important;
}

.header-border {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #94a3b8, #226ec000) 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.header-border::before {
  font: var(--fa-font-solid);
  content: "\f126";
  color: #94a3b8;
  padding-right: 0.55em;
}




/**
CSS KEYFRAMES
**/

.scale-center {
  animation: scale-center .3s ease 0s 1 normal forwards;
}

@keyframes scale-center {
	0% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(1);
	}
}

.slide-left {
  animation: slide-left .4s ease 0s 1 normal forwards;
}

@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translateX(-80px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.mat-mdc-card-content {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
.mat-mdc-card-subtitle {
  font-family: 'Ubuntu', sans-serif;
  color: rgba(51, 219, 191, 0.788) !important;
}

@keyframes swing-in {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

.swing-in{
  animation: swing-in 1s ease 0s 1 normal forwards;
}


@keyframes bounce-forward {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: scale(0);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: scale(1);
	}

	55% {
		animation-timing-function: ease-in;
		transform: scale(0.7);
	}

	72% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	81% {
		animation-timing-function: ease-in;
		transform: scale(0.84);
	}

	89% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}

	95% {
		animation-timing-function: ease-in;
		transform: scale(0.95);
	}

	100% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.bounce-forward{
  animation: bounce-forward 1s ease 0s 1 normal forwards;
}

@keyframes swing-bottom {
	0% {
		opacity: 0;
		transform: rotateX(100deg);
		transform-origin: bottom;
	}

	100% {
		opacity: 1;
		transform: rotateX(0);
		transform-origin: bottom;
	}
}

.swing-bottom{
  animation: swing-bottom .5s ease 0s 1 normal forwards;
}

@keyframes swing-left {
	0% {
		opacity: 0;
		transform: rotateY(100deg);
		transform-origin: left;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: left;
	}
}

.swing-left{
  animation: swing-left .3s ease 0s 1 normal forwards;
}

@keyframes swing-right {
  0% {
    opacity: 0;
    transform: rotateY(-100deg);
    transform-origin: right;
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
    transform-origin: right;
  }
}

.swing-right{
  animation: swing-right .3s ease 0s 1 normal forwards;
}


@keyframes swing-top {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
    transform-origin: top;
  }
}

.swing-top{
  animation: swing-top .3s ease 0s 1 normal forwards;
}


::-webkit-scrollbar {
  width: 8px;  
  height: 8px; 
}

::-webkit-scrollbar-track {
  background: #2D2D2D;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(122px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-entrance {
  animation: fadeInUp .420s forwards;
  opacity: 0;
}


.source {
  color: #94a3b8de;
    text-decoration: none;
    transition: color 0.2s;
    border-bottom: #94a3b8 dotted 1px;
}

.source:hover{
  color: #707c8d;
}